/* Home forum component */
.list {
    height: 1000px;
    z-index: 0;
}

.groupsListCard {
    width: 580px;
    height: 200px;
    box-shadow: 0 2px 10px lightgray;
    border-radius: 6px;
    margin-bottom: 20px;
}

.groupsListCard img {
    margin-left: 40px;
    height: 100px;
}

.groupsListCard h2, h4 {
    margin-top: 10px;
    overflow-y: hidden;
}

.groupsListCard h2 {
    margin-top: 60px;
    font-size: 24px;
    font-weight: 700;
    color: #0D1C2E;
}

.groupsListCard h4 {
    font-size: 14px;
    font-weight: 500;
    color: #0D1C2E;
}