/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 290px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
}

/* The side navigation menu photo */
.userphoto {
    padding-top: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* The side navigation menu header */
.sidenav header {
    padding-top: 10px;
    padding-bottom: 55px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #0D1C2E;
    display: block;
    text-align: center;
}

#sideNavBarHeader img{
    padding-left: 10px;
}

/* The navigation menu links */
.sidenav a {
    margin: 0px 0px 46px 80px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #707C97;
    display: block;
    transition: 0.3s;
    text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #30475E;
}