/* The side navigation menu */
.sidenav {
    height: 100%;
    overflow-y: hidden;
    width: 290px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    box-shadow: -10px 0 10px 20px lightgray;
}

/* The side navigation menu photo */
.userphoto {
    padding-top: 9.3vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* The side navigation menu header */
.sidenav header {
    padding-top: 1vh;
    padding-bottom: 5.5vh;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #0D1C2E;
    display: block;
    text-align: center;
}

#sideNavBarHeader img{
    padding-left: 1vh;
}

/* The navigation menu links */
.sidenav a {
    margin-bottom: 3vh;
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #707C97;
    transition: 0.3s;
    text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #30475E;
}